In [1]:
import pandas as pd
import os
#Change for future filenamechanges
filepath = '../raw/auswertung_152.' # missing extension (xslx)!
target = '../data/preprocessed/preprocessed.' # missing extension!

In [2]:
#Load your dataset & save as csv(allows easier viewing and gitdiff)

df = pd.read_excel(filepath + 'xlsx')
df.to_csv(filepath + 'csv')

#Display the first few rows of the dataset
df.head()

,Zeitstempel,Wie heißt die virtuelle Influencerin?,Die virtuelle Influencerin kann wie ein Mensch sprechen.,Die virtuelle Influencerin wirkt glücklich.,Die virtuelle Influencerin wirkt freundlich.,Die virtuelle Influencerin wirkt respektvoll.,Die virtuelle Influencerin wirkt witzig.,Die virtuelle Influencerin wirkt fürsorglich.,Diese Werbung hat mich glücklich gemacht.,Ich habe mich beim Anschauen dieser Werbung freudig gefühlt.,...,Werbung mit der virtuellen Influencerin ist unkonventionell.,Werbung mit der virtuellen Influencerin ist ungewöhnlich.,Werbung mit der virtuellen Influencerin ist einzigartig.,"Ich kann mir vorstellen, Dienstleistungen des Unternehmens auszuprobieren, welche von der virtuellen Influencerin beworben werden.","Ich kann mir vorstellen, Produkte zu probieren, welche die virtuelle Influencerin empfiehlt.","In Zukunft werde ich wahrscheinlich die Marke ausprobieren, welche die virtuelle Influencerin empfiehlt.",Wie alt sind Sie?,Welches Geschlecht haben Sie?,Wie ist Ihre aktuelle berufliche Situation?,"Leben Sie in einem deutschsprachigen Land (Deutschland, Österreich, Schweiz)?"
0,2024-05-21 17:34:44,Lil Miquela,1,5,6,5,4,5,2,1,...,5,5,2,5,3,5,25-34,Möchte ich nicht angeben,Möchte ich nicht angeben,NaN
1,2024-05-22 11:11:55,Lil Miquela,5,2,6,6,5,6,3,3,...,5,5,3,4,5,6,25-34,Männlich,Schüler/Student,NaN
2,2024-05-23 14:25:34,Lil Miquela,6,6,6,6,6,6,2,2,...,3,3,3,3,3,2,25-34,Weiblich,Schüler/Student,NaN
3,2024-05-27 20:27:12,Lil Miquela,6,6,6,6,6,6,4,4,...,5,5,5,4,4,3,55-64,Männlich,Selbstständig,NaN
4,2024-05-27 21:54:19,Lil Miquela,7,7,7,1,7,4,4,4,...,7,4,2,7,7,7,64 oder älter,Weiblich,Rentner,NaN

In [3]:
#The column 'Ich war an dieser Werbung interessiert' needs to be removed
#It was changed mid questionaire and will be excluded

df = df.drop('Ich war an dieser Werbung interessiert',axis=1)
print(df.columns.tolist())

['Zeitstempel', 'Wie heißt die virtuelle Influencerin?', 'Die virtuelle Influencerin kann wie ein Mensch sprechen.', 'Die virtuelle Influencerin wirkt glücklich.', 'Die virtuelle Influencerin wirkt freundlich.', 'Die virtuelle Influencerin wirkt respektvoll.', 'Die virtuelle Influencerin wirkt witzig.', 'Die virtuelle Influencerin wirkt fürsorglich.', 'Diese Werbung hat mich glücklich gemacht.', 'Ich habe mich beim Anschauen dieser Werbung freudig gefühlt.', 'Diese Werbung hat mein Interesse geweckt.', 'Diese Werbung hat mich aufgeregt (hat Emotionen ausgelöst).', 'Werbung mit der virtuellen Influencerin ist aufregend.', 'Werbung mit der virtuellen Influencerin ist neuartig.', 'Werbung mit der virtuellen Influencerin ist unkonventionell.', 'Werbung mit der virtuellen Influencerin ist ungewöhnlich.', 'Werbung mit der virtuellen Influencerin ist einzigartig.', 'Ich kann mir vorstellen, Dienstleistungen des Unternehmens auszuprobieren, welche von der virtuellen Influencerin beworben werden.', 'Ich kann mir vorstellen, Produkte zu probieren, welche die virtuelle Influencerin empfiehlt.', 'In Zukunft werde ich wahrscheinlich die Marke ausprobieren, welche die virtuelle Influencerin empfiehlt.', 'Wie alt sind Sie?', 'Welches Geschlecht haben Sie?', 'Wie ist Ihre aktuelle berufliche Situation?', 'Leben Sie in einem deutschsprachigen Land (Deutschland, Österreich, Schweiz)?']

In [4]:
#Rename columns for easier identification
oldNames = df.columns.tolist()
newNames = ['time', 'check',
       'q1_1',
       'q1_2',
       'q1_3',
       'q1_4',
       'q1_5',
       'q1_6',
       'q2_1',
       'q2_2',
       'q2_3',
       'q2_4',
       'q2_5',
       'q3_1',
       'q3_2',
       'q3_3',
       'q3_4',
       'q3_5',
       'q4_1',
       'q4_2',
       'q4_3',
       'age', 'gender',
       'occupation',
       'dach']

In [5]:
#Creating legend
legende = {oldNames[i]: newNames[i] for i in range(len(oldNames))}
print(legende)
#changing names
df = df.rename(columns = legende)

{'Zeitstempel': 'time', 'Wie heißt die virtuelle Influencerin?': 'check', 'Die virtuelle Influencerin kann wie ein Mensch sprechen.': 'q1_1', 'Die virtuelle Influencerin wirkt glücklich.': 'q1_2', 'Die virtuelle Influencerin wirkt freundlich.': 'q1_3', 'Die virtuelle Influencerin wirkt respektvoll.': 'q1_4', 'Die virtuelle Influencerin wirkt witzig.': 'q1_5', 'Die virtuelle Influencerin wirkt fürsorglich.': 'q1_6', 'Diese Werbung hat mich glücklich gemacht.': 'q2_1', 'Ich habe mich beim Anschauen dieser Werbung freudig gefühlt.': 'q2_2', 'Diese Werbung hat mein Interesse geweckt.': 'q2_3', 'Diese Werbung hat mich aufgeregt (hat Emotionen ausgelöst).': 'q2_4', 'Werbung mit der virtuellen Influencerin ist aufregend.': 'q2_5', 'Werbung mit der virtuellen Influencerin ist neuartig.': 'q3_1', 'Werbung mit der virtuellen Influencerin ist unkonventionell.': 'q3_2', 'Werbung mit der virtuellen Influencerin ist ungewöhnlich.': 'q3_3', 'Werbung mit der virtuellen Influencerin ist einzigartig.': 'q3_4', 'Ich kann mir vorstellen, Dienstleistungen des Unternehmens auszuprobieren, welche von der virtuellen Influencerin beworben werden.': 'q3_5', 'Ich kann mir vorstellen, Produkte zu probieren, welche die virtuelle Influencerin empfiehlt.': 'q4_1', 'In Zukunft werde ich wahrscheinlich die Marke ausprobieren, welche die virtuelle Influencerin empfiehlt.': 'q4_2', 'Wie alt sind Sie?': 'q4_3', 'Welches Geschlecht haben Sie?': 'age', 'Wie ist Ihre aktuelle berufliche Situation?': 'gender', 'Leben Sie in einem deutschsprachigen Land (Deutschland, Österreich, Schweiz)?': 'occupation'}

In [7]:
print(df.columns.tolist())

['time', 'check', 'q1_1', 'q1_2', 'q1_3', 'q1_4', 'q1_5', 'q1_6', 'q2_1', 'q2_2', 'q2_3', 'q2_4', 'q2_5', 'q3_1', 'q3_2', 'q3_3', 'q3_4', 'q3_5', 'q4_1', 'q4_2', 'q4_3', 'age', 'gender', 'occupation']

In [6]:
# Transform ordnals scales to dummy: check,age,gender, occupation, dach

In [10]:
#check, 1 if 'lil Miquela', 0 otherwise
replaceCheck = {
    'Lil Miquela' : 1,
    'Noonoouri':0,
    'Imma':0}
df.replace(replaceCheck)
df['check'].mean()

np.float64(0.925)

,time,check,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q2_1,q2_2,...,q3_2,q3_3,q3_4,q3_5,q4_1,q4_2,q4_3,age,gender,occupation
0,2024-05-21 17:34:44,1,1,5,6,5,4,5,2,1,...,5,5,2,5,3,5,25-34,Möchte ich nicht angeben,Möchte ich nicht angeben,NaN
1,2024-05-22 11:11:55,1,5,2,6,6,5,6,3,3,...,5,5,3,4,5,6,25-34,Männlich,Schüler/Student,NaN
2,2024-05-23 14:25:34,1,6,6,6,6,6,6,2,2,...,3,3,3,3,3,2,25-34,Weiblich,Schüler/Student,NaN
3,2024-05-27 20:27:12,1,6,6,6,6,6,6,4,4,...,5,5,5,4,4,3,55-64,Männlich,Selbstständig,NaN
4,2024-05-27 21:54:19,1,7,7,7,1,7,4,4,4,...,7,4,2,7,7,7,64 oder älter,Weiblich,Rentner,NaN

In [12]:
#aged
#['25-34', '55-64', '64 oder älter', '18-24', '45-54', '35-44']
ageOld = df['age'].unique().tolist()
df['age'] = df['age'].astype('category').cat.codes
ageNew = df['age'].unique().tolist()
ageLegend = { ageOld[i] : ageNew[i] for i in range(len(ageOld))}
ageLegend

{'Möchte ich nicht angeben': 2, 'Männlich': 1, 'Weiblich': 3, 'Divers': 0}

In [13]:
#gender
genderOld = df['gender'].unique().tolist()

In [14]:
#Save all the data in the next Folder
df.to_csv(target + 'csv')
df.to_excel(target + 'xlsx')

In [16]:
df.sample(20
         )

,time,check,q1_1,q1_2,q1_3,q1_4,q1_5,q1_6,q2_1,q2_2,...,q3_2,q3_3,q3_4,q3_5,q4_1,q4_2,q4_3,age,gender,occupation
154,2024-07-08 15:12:32,1,6,6,6,5,6,4,5,5,...,4,4,4,6,7,5,18-24,1,Schüler/Student,Ja
71,2024-06-16 22:00:52,1,4,4,5,5,2,2,1,1,...,5,4,4,4,3,2,25-34,3,Angestellt,Ja
133,2024-06-26 13:47:59,1,6,6,6,5,6,4,6,6,...,4,4,4,7,6,6,18-24,1,Schüler/Student,Ja
136,2024-06-30 18:27:50,1,5,5,6,6,4,5,3,4,...,6,6,5,5,5,3,25-34,1,Angestellt,Ja
58,2024-06-11 19:51:20,1,7,6,6,4,4,4,2,4,...,4,6,3,6,6,4,55-64,3,Arbeitslos,Ja
33,2024-06-07 11:28:03,1,6,5,6,5,5,5,3,3,...,6,6,6,5,5,5,18-24,3,Schüler/Student,Ja
26,2024-06-06 20:23:45,1,7,4,4,6,3,5,2,1,...,4,2,3,4,2,2,25-34,3,Schüler/Student,Ja
70,2024-06-14 15:31:24,0,5,5,6,5,2,2,3,2,...,5,6,2,3,2,2,55-64,3,Anderes,Ja
82,2024-06-18 12:16:07,1,6,4,5,5,6,4,2,3,...,5,5,3,5,5,4,25-34,1,Schüler/Student,Ja
87,2024-06-18 13:25:19,1,4,4,5,4,4,4,4,3,...,5,5,5,4,4,4,64 oder älter,1,Im Ruhestand,Ja
131,2024-06-26 13:45:43,1,3,4,5,5,4,4,3,3,...,4,4,4,5,5,5,55-64,1,Angestellt,Ja
13,2024-06-06 11:31:45,1,7,4,6,4,5,2,1,2,...,5,5,2,3,2,2,25-34,1,Angestellt,Ja
141,2024-07-08 12:41:22,1,6,5,6,6,6,6,3,3,...,5,5,4,5,5,5,25-34,1,Schüler/Student,Ja
85,2024-06-18 13:22:33,1,6,6,5,4,5,6,4,4,...,5,5,4,6,6,4,45-54,1,Angestellt,Ja
14,2024-06-06 13:34:45,1,6,6,7,6,6,6,5,6,...,6,5,6,6,6,4,64 oder älter,1,Selbstständig,Ja
75,2024-06-18 11:30:52,1,5,6,6,6,4,3,1,1,...,5,5,2,5,5,5,25-34,3,Angestellt,Ja
56,2024-06-11 14:23:01,1,7,6,6,4,3,4,3,3,...,4,4,1,1,1,2,45-54,3,Angestellt,Ja
121,2024-06-23 16:18:24,1,6,5,6,3,2,2,2,2,...,2,2,2,6,5,5,45-54,1,Selbstständig,Ja
25,2024-06-06 19:10:32,1,7,5,6,6,3,2,1,1,...,2,7,4,2,2,1,25-34,3,Angestellt,Ja
132,2024-06-26 13:46:50,1,5,5,5,4,5,4,5,5,...,4,4,4,6,6,6,35-44,3,Selbstständig,Ja